<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Actualizar Datos de Usuario</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body class="bg-gradient-primary">

	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<div class="row">
					<div class="col-lg-5 d-none d-lg-block bg-register-image">
						<img class="img-fluid" th:src="@{/img/registro_img.png}">
					</div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Actualizar Usuario</h1>
							</div>
							<form class="user" th:action="@{/actualizar}" method="post"
								th:object="${usuario}">
								<div th:if=${param.exito}>
									<div class="alert alert-info">Se ha actualizado
										exitosamente los datos del Usuario</div>
								</div>
								<div class="d-flex justify-content-center">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-outline-primary btn-lg" for="RolOption1"> <input
											type="radio" name="options" th:field="*{rol}"
											th:value="Rol_Usuario" id="RolOption1" autocomplete="off"> Usuario
										</label> <label class="btn btn-outline-primary btn-lg" for="RolOption2"> <input type="radio"
											name="options" th:field="*{rol}" th:value="Rol_Empresario"
											id="RolOption2" autocomplete="off"> Empresario
										</label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<label class="control-label" for="nombres">Nombres : </label>
										<input id="nombre" type="text" class="form-control"
											th:field="*{nombres}" required autofocus="autofocus">
									</div>
									<div class="col-sm-6">
										<label class="control-label" for="apellidos">Apellidos
											: </label> <input id="apellidos" class="form-control"
											th:field="*{apellidos}" required autofocus="autofocus">
									</div>
								</div>
								<div class="form-group row">
								<div class="col-sm-6 mb-3 mb-sm-0">
									<label class="control-label" for="dni">DNI : </label> <input
										id="dni" type="text" class="form-control" th:field="*{dni}">
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="ubigeo">Ubigeo : </label> <input
										id="ubigeo" type="text" class="form-control"
										th:field="*{ubigeo}" required autofocus="autofocus">
								</div>
								</div>
								<div class="form-group" id="textoRuc">
									<label class="control-label" for="ruc">RUC Empresa : </label> <input
										id="ruc" type="text" class="form-control" value=""
										th:field="*{ruc}" required autofocus="autofocus">
								</div>
								<div class="form-group">
									<label class="control-label" for="direccion">Dirección
										: </label> <input id="direccion" type="text" class="form-control"
										th:field="*{direccion}" required autofocus="autofocus">
								</div>
								<div class="form-group">
									<label class="control-label" for="telefono">Teléfono :
									</label> <input id="telefono" type="text" class="form-control"
										th:field="*{telefono}" required autofocus="autofocus">
								</div>
								<div class="form-group">
									<label class="control-label" for="email">Email : </label> <input
										id="email" type="email" class="form-control"
										th:field="*{email}" required autofocus="autofocus">
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<label class="control-label" for="password">Contraseña
											: </label> <input type="password" id="password" class="form-control"
											th:field="*{password}" required autofocus="autofocus">
									</div>
									<!--  <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div> -->
								</div>
								<div class="form-group">
									<label class="control-label" for="emailRecuperacion">Email
										de Recuperación: </label> <input id="emailRecuperacion" type="email"
										class="form-control" th:field="*{emailRecuperacion}" required
										autofocus="autofocus">
								</div>
								<div class="form-group">
									<label></label>
									<div class="text-center">
										<input type="submit" class="form-control btn btn-success"
											name="registro-submit" id="registro-submit" value="Actualizar" />
										<!-- <button type="submit" class="btn btn-success">Registrar</button> -->
										<span>Si ya estas registrado <a th:href="@{/login}">Inicia
												sesión aquí</a></span>
									</div>
								</div>
							</form>
							<!-- <div class="text-center">
								<a class="small" href="forgot-password.html">¿Olvidó su
									contraseña?</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous">
    </script>
</body>
</html>