<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout::head"></head>
<body>
<script th:src="@{/js/registro-cuenta-bancaria-deposito.js}"></script>
	<div class="wrapper">
		<!-- Sidebar -->
		<nav th:replace="layout::menulateral"></nav>
		<!-- Fin sidebar -->

		<div id="content">

			<!-- Navbar -->
			<nav th:replace="layout::navperfil"></nav>
			<!-- Fin Navbar -->

			<!-- Page Content -->
			<section class="bg-light py-3 d-block d-sm-none">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color: #fafafa; padding-bottom: 0px;">
			  	<li class="breadcrumb-item"><a th:href="@{/}" class="text-primary">Inicio</a></li>
			    <li class="breadcrumb-item"><a th:href="@{/cuentaBancaria/CuentasBancarias}" class="text-primary">Mis Cuentas Bancarias</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Cuenta Bancaria</li>
			  </ol>
			</nav>
			</section>
				<section class="bg-light py-3">
					<div class="row">
						<div class="col-lg-7">
							<div class="p-2">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Añadir una Cuenta
										Bancaria</h1>
								</div>
								<form class="form needs-validation"
									th:action="@{/cuentaBancaria/registroCuentaBancaria}" method="post"
									th:object="${cuentaBancaria}" id="formulario" novalidate>
									<div th:if=${param.exito}>
										<div class="alert alert-info" id="alerta">Se ha
											añadido exitosamente la Cuenta Bancaria</div>
									</div>
									<div th:if=${param.error}>
										<div class="alert alert-danger" id="alerta">El número 
											de cuenta ya se encuentra registrado</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 mb-3 mb-sm-0">
											<label class="control-label" for="numeroCuenta">Número
												de Cuenta : </label> <input id="numeroCuenta" type="text"
												class="form-control" th:field="*{numeroCuenta}"
												autofocus="autofocus" required pattern="^(?! )(?!.*(\d)\1{5})([0-9]{16})">
											<div class="invalid-feedback">Cuenta debe tener 16 digitos.</div>
										</div>
									</div>
									<input type="hidden" name="idUsuario" th:value="${#authentication.principal.id}"/>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label for="bancoSelect" class="form-label">Banco:</label>
											<div class="col">
												<select th:field="*{id_banco}" class="custom-select"
													id="bancoSelect" required>
													<option selected value="" required>Seleccione...</option>
													<option th:each="b: ${lstBanco}" th:value="${b.id_banco}"
														th:text="${b.nombre_banco}"></option>
												</select>
												<div class="invalid-feedback">Seleccione un banco.</div>
											</div>
										</div>
										<div class="col-sm-6">
											<label class="control-label" for="monto">Monto : </label> <input
												id="monto" type="number" class="form-control"
												th:field="*{monto}" autofocus="autofocus" oninput="removeHyphen(this)" step="0.01" min="100" max="10000"
												required pattern="^(?:[1-9]\d{0,2}(?:,\d{3}){0,2}|[1-9]\d{0,3}(?:\.\d{1,2})?|10000(?:\.00)?)$">
											<div class="invalid-feedback">Monto minimo para crear cuenta es 100 hasta 10000</div>
										</div>
									</div>
									<div class="form-group">
										<label></label>
										<div class="text-center">
											<button type="submit" class="btn btn-success btn-block"
												name="registroCuentaBancaria-submit" id="submit"
												value="Registrar">Registrar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-5 d-none d-lg-block bg-register-image">
							<img class="img-fluid" th:src="@{/img/banco_img.jpg}">
						</div>
					</div>
				</section>
			</div>
		</div>
</body>
</html>