<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

  <!-- Styles -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Google fonts -->
  <link
          href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap"
          rel="stylesheet">

  <!-- Ionic icons -->
  <link
          href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
          rel="stylesheet">
  <link rel="stylesheet" href="/css/cuentaBancaria.css">
  <title>Cuenta Bancaria</title>
</head>


<body>
<div class="d-flex" id="content-wrapper">

  <!-- Sidebar -->
  <div id="sidebar-container" class="bg-primary">
    <div class="logo">
      <h4 class="text-light font-weight-bold mb-0">Crece Perú</h4>
    </div>
    <div class="menu">
      <a href="index.html" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
        Inicio</a>
      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
        Mis movimientos</a>
      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i>
        Estado de cuenta</a>
      <a href="CuentaBancaria.html" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
        Cuenta Bancaria</a>
      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i>
        Depósitos</a>
      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i>
        Retiros</a>
    </div>
  </div>
  <!-- Fin sidebar -->

  <div class="w-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown"><a
                    class="nav-link text-dark dropdown-toggle" href="#"
                    id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <span
                    class="text-dark" sec:authentication="principal.username"></span></a>


              <div class="dropdown-menu dropdown-menu-right"
                   aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Mi perfil</a>
                <div class="dropdown-divider"></div>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}"
                      method="post" th:method="post">
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                  <button type="submit" class="btn btn-link link-info">Cerrar
                    sesión</button>
                </form>


              </div></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fin Navbar -->

    <!-- Page Content -->
    <div id="content" class="bg-grey w-100">
      <ul class="account-grid">
        <li>
          <div class="account-box">
            <h3>Cuenta Corriente</h3>
            <p>Titular: Juan Pérez</p>
            <p>Saldo: $5000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <li>
          <div class="account-box">
            <h3>Cuenta Ahorro</h3>
            <p>Titular: Ana Gómez</p>
            <p>Saldo: $10000</p>
          </div>
        </li>
        <div class="column">
          <a href="#" class="button-create-account" data-toggle="modal" data-target="#agregar-cuenta-modal">Agregar nueva cuenta</a>
          <div class="modal fade" id="agregar-cuenta-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Agregar cuenta</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="banco">Selecciona banco:</label>
                      <select class="form-control" id="banco">
                        <option>BBVA</option>
                        <option>BCP</option>
                        <option>Interbank</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="tipo-cuenta">Selecciona el tipo de cuenta:</label>
                      <select class="form-control" id="tipo-cuenta">
                        <option>Ahorros</option>
                        <option>Corriente</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="moneda">Selecciona moneda:</label>
                      <select class="form-control" id="moneda">
                        <option>Soles</option>
                        <option>Dólares</option>
                        <option>Euros</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="numero-cuenta">Número de cuenta:</label>
                      <input type="text" class="form-control" id="numero-cuenta">
                    </div>
                    <div class="form-group">
                      <label for="cci">CCI:</label>
                      <input type="text" class="form-control" id="cci">
                    </div>
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Agregar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
            integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
            crossorigin="anonymous"></script>
</body>
</html>
