<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout::head"></head>
<body>
<script th:src="@{/js/registro-cuenta-bancaria-deposito.js}"></script>
	<div class="d-flex" id="content-wrapper">
		<!-- Sidebar -->
		<div th:replace="layout::sidebar"></div>
		<!-- Fin sidebar -->

		<div class="w-100">

			<!-- Navbar -->
			<nav th:replace="layout::navbar"></nav>
			<!-- Fin Navbar -->

			<!-- Page Content -->
			<div id="content" class="bg-grey w-100">
				<section class="bg-light py-3">
					<div class="row">
						<div class="col-lg-7">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Registrar una Empresa</h1>
								</div>
								<form class="form needs-validation"
									th:action="@{/registroEmpresa}" method="post"
									th:object="${empresa}" id="formulario" novalidate>
									<div th:if=${param.exito}>
										<div class="alert alert-info" id="alerta">Se ha añadido
											exitosamente una Empresa</div>
									</div>
									<div th:if=${errorRuc}>
										<div class="alert alert-danger" id="alerta"><span th:text="${errorRuc}"></span></div>
									</div>
									<div th:if=${errorRazSoc}>
										<div class="alert alert-danger" id="alerta"><span th:text="${errorRazSoc}"></span></div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="control-label" for="ruc">RUC Empresa :
											</label> <input id="ruc" type="text" class="form-control"
												th:field="*{ruc}" autofocus="autofocus" 
												pattern="^(20[0-9]{9}|10[0-9]{9})"
												required>
											<div class="invalid-feedback">Ingrese el ruc
												correctamente.</div>
										</div>
										<div class="col-sm-6">
											<label class="control-label" for="razonSocial">Razon
												Social : </label> <input id="razonSocial" type="text"
												class="form-control" th:field="*{razonsocial}"
												autofocus="autofocus" required
												pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\.]{2,50}">
											<div class="invalid-feedback">Ingrese la razon social
												correctamente.</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="control-label" for="nombreComercial">Nombre
												Comercial : </label> <input id="nombreComercial" type="text"
												class="form-control" th:field="*{nombre_comercial}"
												autofocus="autofocus" required
												pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\.]{2,50}">
											<div class="invalid-feedback">Ingrese el nombre comercial
												correctamente.</div>
										</div>

										<div class="col-sm-6">
											<label class="control-label" for="actividadEconomica">Actividad
												Economica : </label> <input id="actividadEconomica"
												class="form-control" th:field="*{actividad_economica}"
												autofocus="autofocus" required
												pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]{5,30}">
											<div class="invalid-feedback">Ingrese la actividad
												economica correctamente.</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="control-label" for="direcFiscal">Dirección
												Fiscal : </label> <input id="direcFiscal" class="form-control"
												th:field="*{direc_fiscal}" autofocus="autofocus" required
												pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s#0-9\.\-\/\()]{5,100}">
											<div class="invalid-feedback">Ingrese la dirección
												fiscal correctamente.</div>
										</div>
										<div class="col-sm-6">
											<label class="control-label" for="repLegal">Representante
												Legal : </label> <input id="repLegal" class="form-control"
												th:field="*{rep_legal}" autofocus="autofocus" required
												pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]{5,50}">
											<div class="invalid-feedback">Ingrese el representante
												legal correctamente.</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="control-label" for="telefono">Telefono
												: </label> <input id="telefono" type="text" class="form-control"
												th:field="*{telefono}" autofocus="autofocus" required
												pattern="^(9[0-9]{8}|[2-7][0-9]{6})">
											<div class="invalid-feedback">Ingrese el teléfono
												correctamente.</div>
										</div>
										<div class="col-sm-6">
											<label class="control-label" for="email">Email : </label> <input
												id="email" class="form-control" th:field="*{email}"
												autofocus="autofocus" required
												pattern="[a-z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
											<div class="invalid-feedback">Ingrese el email
												correctamente.</div>
										</div>
									</div>
										<div class="form-group">
											<label></label>
											<div class="text-center">
												<button type="submit" class="btn btn-success btn-block"
													name="registroEmpresa-submit" id="submit" value="Registrar">Registrar</button>
											</div>
										</div>
								</form>
							</div>
						</div>
						<div class="col-lg-5 d-none d-lg-block bg-register-image">
							<img class="img-fluid" th:src="@{/img/empresa_img.jpg}">
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>
</html>