<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

  <!-- Styles -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Google fonts -->
  <link
          href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap"
          rel="stylesheet">

  <!-- Ionic icons -->
  <link
          href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
          rel="stylesheet">
  <link rel="stylesheet" href="/css/FormRegCuentaBancaria.css">
  <title>Cuenta Bancaria</title>
</head>


<body>
<div class="d-flex" id="content-wrapper">

  <!-- Sidebar -->
  <div id="sidebar-container" class="bg-primary">
    <div class="logo">
      <h4 class="text-light font-weight-bold mb-0">Crece Perú</h4>
    </div>
    <div class="menu">
      <a th:href="@{/}" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i> Inicio</a>
      <a th:href="@{/movimientos}" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i> Mis movimientos</a>
      <a th:href="@{/estado-cuenta}" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i> Estado de cuenta</a>
      <a th:href="@{/CuentaBancaria}" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i> Cuentas Bancarias </a>
      <a th:href="@{/depositos}" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i> Depósitos</a>
      <a th:href="@{/retiros}" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i> Retiros</a>

    </div>

  </div>
  <!-- Fin sidebar -->

  <div class="w-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown"><a
                    class="nav-link text-dark dropdown-toggle" href="#"
                    id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <span
                    class="text-dark" sec:authentication="principal.username"></span></a>


              <div class="dropdown-menu dropdown-menu-right"
                   aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Mi perfil</a>
                <div class="dropdown-divider"></div>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}"
                      method="post" th:method="post">
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                  <button type="submit" class="btn btn-link link-info">Cerrar
                    sesión</button>
                </form>


              </div></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fin Navbar -->

    <!-- Page Content -->
    <div class="container">
      <h1>Registro de cuentas bancarias</h1>
      <form th:action="@{/listarCuentaBancaria}" th:object="${cuentaBancariaa}" method="POST">
        <div class="form-group">
          <label>Banco:</label>
          <select class="form-control" th:field="*{id_banco.idTipoBanco}">
            <option value="1">BBVA</option>
            <option value="2">BCP</option>
            <option value="3">Interbank</option>
          </select>
        </div>
        <div class="form-group">
          <label >Tipo de cuenta:</label>
          <select class="form-control" th:field="*{id_tipo_cuenta_bancaria.idTipoCuentaBancaria}">
            <option value="1">Ahorros</option>
            <option value="2">Corriente</option>
          </select>
        </div>
        <div class="form-group">
          <label>Moneda:</label>
          <select class="form-control" th:field="*{id_moneda.idTipoMoneda}">
            <option value="1">Soles</option>
            <option value="2">Dólares</option>
          </select>
        </div>
        <div class="form-group">
          <label>Número de cuenta:</label>
          <input type="text" name="nombre" th:field="*{numeroCuenta}" class="form-control" placeholder="Digite su Número de cuenta" required>
        </div>
        <div class="form-group">
          <label>CCI: </label>
          <input type="text" name="apellido" th:field="*{cciCuentaBancaria}" class="form-control" placeholder="Digite su CCI" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar cuenta bancaria</button>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
            integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </div>
</div>
</body>
</html>
