<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout::head"></head>
<body> 
<script th:src="@{/js/registro-cuenta-bancaria-deposito.js}"></script>
	<div class="d-flex" id="content-wrapper">
		<!-- Sidebar -->
		<div th:replace="layout::sidebar"></div>
		<!-- Fin sidebar -->

		<div class="w-100">

			<!-- Navbar -->
			<nav th:replace="layout::navbar"></nav>
			<!-- Fin Navbar -->

			<!-- Page Content -->
			<div id="content" class="bg-grey w-100">
				<section class="bg-light py-3">
					<div class="container">
						<div class="row">
						    <!-- Iterar por cada movimiento y crear una card para cada uno -->
						    <th:block th:each="movimiento : ${lstMovimientos}">
						      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
						        <div class="card">
						          <div class="card-body">
						            <h5 class="card-title">Movimiento  #<span th:text="${movimiento.id_movimiento}"></span></h5>
						            <p class="card-text">Banco: <span th:text="${movimiento.objCuentaBancaria.objBanco.nombre_banco}"></span></p>
						            <p class="card-text">Cuenta bancaria: <span th:text="${movimiento.objCuentaBancaria.numeroCuenta}"></span></p>
						            <p class="card-text">Tipo: <span th:text="${movimiento.tipoMovimiento}"></span></p>
						            <p class="card-text">Monto: <span th:text=" 'S/'+ ${movimiento.monto}"></span></p>
						            <p class="card-text">Fecha: <span th:text="${movimiento.fechaMovimiento}"></span></p>
						          </div>
						        </div>
						      </div>
						    </th:block>
					  	</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>
</html>