<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout::head"></head>
<body>
<script th:src="@{/js/registro-cuenta-bancaria-deposito.js}"></script>
	<div class="d-flex" id="content-wrapper">
		<!-- Sidebar -->
		<div th:replace="layout::sidebar"></div>
		<!-- Fin sidebar -->

		<div class="w-100">

			<!-- Navbar -->
			<nav th:replace="layout::navbar"></nav>
			<!-- Fin Navbar -->

			<!-- Page Content -->
			<div id="content" class="bg-grey w-100">
				<section class="bg-light py-3">
					<div class="row">
						<div class="col-lg-7">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Mi Perfil</h1>
								</div>
								<form class="user needs-validation"
									th:action="@{/perfilUsuario}" method="post"
									th:object="${usuario}" id="formulario" novalidate>
									<div th:if=${param.exito}>
										<div class="alert alert-info" id="alerta">Se ha
											actualizado exitosamente su perfil</div>
									</div>
									<input type="hidden" th:field="*{id}"> <input
										type="hidden" th:field="*{ruc}"> <input type="hidden"
										th:field="*{email}"> <input type="hidden"
										th:field="*{password}"> <input type="hidden"
										th:field="*{fechaIngreso}" name="fechaIngreso"> <input
										type="hidden" th:field="*{estado}">
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="control-label" for="nombres">Nombres :
											</label> <input id="nombres" type="text" class="form-control"
												th:field="*{nombres}" autofocus="autofocus" required
												pattern="^(?! )([a-zA-ZñÑáéíóúÁÉÍÓÚ]{2,10})( [a-zA-ZñÑáéíóúÁÉÍÓÚ]{2,10}){0,2}$">
											<div class="invalid-feedback">Ingrese los nombres
												correctamente.</div>
										</div>
										<div class="col-sm-6">
											<label class="control-label" for="apellidos">Apellidos
												: </label> <input id="apellidos" class="form-control"
												th:field="*{apellidos}" autofocus="autofocus" required
												pattern="^(?! )([a-zA-ZñÑáéíóúÁÉÍÓÚ]{2,10})( [a-zA-ZñÑáéíóúÁÉÍÓÚ]{2,10}){0,2}$">
											<div class="invalid-feedback">Ingrese los apellidos
												correctamente.</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="control-label" for="dni">DNI : </label> <input
												id="dni" type="text" class="form-control" th:field="*{dni}"
												readonly>
										</div>
										<div class="col-sm-6">
											<label class="control-label" for="ubigeo">Ubigeo : </label> <input
												id="ubigeo" type="text" class="form-control"
												th:field="*{ubigeo}" autofocus="autofocus" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" for="direccion">Dirección
											: </label> <input id="direccion" type="text" class="form-control"
											th:field="*{direccion}" autofocus="autofocus" readonly>
									</div>
									<div class="form-group">
										<label class="control-label" for="telefono">Teléfono :
										</label> <input id="telefono" type="text" class="form-control"
											th:field="*{telefono}" autofocus="autofocus" required
											pattern="^(?! )(?!.*(\d)\1{4})(9[0-9]{8}|[2-7][0-9]{6})">
										<div class="invalid-feedback">Ingrese el teléfono
											correctamente.</div>
									</div>
									<div class="form-group">
										<label class="control-label" for="emailRecuperacion">Email
											de Recuperación: </label> <input id="emailRecuperacion" type="email"
											class="form-control" th:field="*{emailRecuperacion}"
											autofocus="autofocus" required
											pattern="^(?! )[a-z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
										<div class="invalid-feedback">Ingrese el email de
											recuperación correctamente.</div>
									</div>
									<div class="form-group">
										<label></label>
										<div class="text-center">
											<button type="submit" class="btn btn-success btn-block"
												name="actualizar-submit" id="submit" value="Guardar">Guardar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-5 d-none d-lg-block bg-register-image">
							<img class="img-fluid" th:src="@{/img/perfil_img.jpg}">
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>
</html>