<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout::head"></head>
<body>
<div class="d-flex" id="content-wrapper">

	<!-- Sidebar -->
	<div th:replace="layout::sidebar"></div>
	<!-- Fin sidebar -->

	<div class="w-100">

		<!-- Navbar -->
		<nav th:replace="layout::navbarPrincipal"></nav>
		<!-- Fin Navbar -->

		<!-- Page Content -->
		<div id="content" class="bg-grey w-100">
			<section class="bg-light py-3">
				<div class="container">
					<div class="row">
						<div class="col-lg-9 col-md-8">
							<h1 class="title">Oportunidades de Negocio</h1>
						</div>
						<div class="col-lg-3 col-md-4 d-flex">
							<button class="btn btn-primary w-100 align-self-center">Mejores
								calificadas</button>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-light py-3">
				<div class="container">
							<div class="d-flex flex-row row justify-content-between">
								<th:block th:each="a : ${lstOportunidades}">
									<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
										<div class="card oportunidad">
											<img src="https://img.freepik.com/foto-gratis/retrato-joven-trabajador-casco-gran-planta-metalurgica_146671-19572.jpg?w=1380&t=st=1685572396~exp=1685572996~hmac=8e0a50e691eea2a18cec290a97c8059be361f33e8cb302f8fde122283d6ea4b4" alt="Imagen" />
											<div class="card-body">
												<h2 class="card-title" th:text="${a.objEmpresa.razonsocial}"></h2>
												<div class="data-container">
													<div>
														<strong>Monto:</strong>
														<span th:text="${a.monto}"></span>
													</div>
													<div>
														<strong>Calificación:</strong>
														<span th:text="${a.calificacion}"></span>
													</div>
													<div>
														<strong>Rendimiento:</strong>
														<span th:text="${a.rendimiento + '%'}"></span>
													</div>
													<div>
														<strong>Fecha de pago:</strong>
														<span th:text="${a.fechaPago}"></span>
													</div>
													<div>
														<strong>Partes:</strong>
														<span th:text="${a.total_partes}"></span>
													</div>
													<!-- Agrega más campos de datos según sea necesario -->
												</div>
												<a href="#" class="btn btn-primary mt-3">Invertir</a>
											</div>
										</div>
									</div>
								</th:block>
								<!-- Agrega más columnas de oportunidades según sea necesario -->
							</div>
				</div>
			</section>
		</div>

	</div>
</div>
</body>
</html>














